.btn {
	background-color: black;
	padding: 8px;
	border-width: 9px;
	border-color: lightslategrey;
	border-radius: 0px 18px 0px 18px;
	font-family: Lucida Fax;
	font-size: 18px;
	color: white;
}

.btn:hover {
	border-color: darkslategrey;
}

.table {
	border-radius: 0px 18px 0px 18px;
}